<div class="text-center mt-4">
    <a href="@Url.Action("Index", "Vehicles")" class="btn btn-primary me-2">Manage Vehicles</a>
    <a href="@Url.Action("Index", "Suppliers")" class="btn btn-success me-2">Manage Suppliers</a>
    <a href="@Url.Action("Index", "Clients")" class="btn btn-info me-2">Manage Clients</a>
    <a href="@Url.Action("Index", "Branches")" class="btn btn-secondary me-2">Manage Branches</a>
    <a href="@Url.Action("Index", "Drivers")" class="btn btn-dark me-2">Manage Drivers</a>
</div>

<div class="text-center mt-4">
    <a href="@Url.Action("Report", "Home")" class="btn btn-warning">View Report</a>
</div>
